* {
    font-family: "Noto Sans KR", sans-serif;
  }
html {
    scroll-behavior: smooth;
  }
      body {
        background-image: url("https://i.pinimg.com/564x/40/3a/a1/403aa15e22d4a15c7f796961b299b81c.jpg");

          margin: 0;
          padding: 0;
          height: 100%;
      }

      td {
          vertical-align: top; /* 날짜를 보여주는 글자를 위로 정렬 */
      }

      .bodycon{
        margin-top: 6rem;
      }

      .Calendar {
          margin-top: 3rem;
          width: 100%;
          /* 달력 가로 길이*/
          height: 33.35rem;
          /* 달력 세로 길이*/
          text-align: center;
          /* 월 나타내는 글자 위치 설정 */
          background: #ffebf0e9;
          /*달력 배경색 */
          border-collapse: collapse;
          border: 0.3rem solid;
          /*달력 테두리 굵기*/
          border-color: #a13e55;
          /* 달력 테두리 색*/

      }

      .Calendar>thead>tr:first-child>td {
          font-family: Inter;
          /* 글꼴 설정 */
          color: #F25278;
          font-size: 1.3em;
          /* @@년 @@월 @@일 글자 크기 설정 */
          font-weight: bold;
          padding-top: 0.5rem;
          padding-bottom: 1rem;
      }

      .Calendar>thead>tr:last-child>td {
          font-family: Inter;
          /* 글꼴 설정 */
          font-weight: 400;
          /*월 나타내는 글자 크기 굵기 설정*/
          font-size: 1.2em;
          /* @요일 글자 크기 설정 */
      }

      .Calendar>tbody>tr>td>p {
          font-family: Inter;
          /* 날짜(숫자) 글자 크기 설정 */
          height: 45;
          width: 35;
          transition-duration: .20s;
          line-height: 20px;
          /* 달력 안의 둥근 원의 크기 */
          margin: 4px;
          /*달력 글자 박스 간의 여백 설정*/
          display: block;
          position: relative;
          /*달력 안에 날짜 글자 위치*/

      }

      .Calendar>tbody>tr>td>p::after {
          content: '';
          width: 100%;
          height: 1px;
          background-color: #c363b3;
          position: absolute;
          bottom: 0;
          left: 0;
      }

      .pastDay {
          font-family: Inter;
          color: rgb(164, 164, 164);
          /* 지나간 날짜 글씨 색 설정 */
      }

      .today {
          font-family: Inter;
          background-color: #FF7799;
          color: #fff;
          /* 그 당일 날짜의 글씨 색 설정 */
          font-weight: 700;
          /* 그 당일 날짜의 글씨 굵기 설정 */
          cursor: pointer;
      }

      .futureDay {
          font-family: Inter;
          background-color: #fffefe;
      }

      .futureDay:hover {
          background: #fbdddd;
          /* 마우스 올려놨을때 보이는 색 */
      }

      .futureDay.choiceDay,
      .today.choiceDay {
          background: #F25278;
          color: #fff;
      }

      .heart_box {
          text-align: center;
          margin-bottom: 1rem;
      }

      .img_heart {
          margin-left: 0.5rem;
          width: 2.1rem;
          height: 2.1rem;
      }

      .diary {
          margin-top: 3rem;
          margin-bottom: 5rem;
          background: #ffebf0e3;
          padding: 1rem;
          border: 0.3rem solid #a13e55;
      }

      .title_text {
          text-align: center;
          background: #ffebf08b;
          padding-top: 0.5rem;
      }

      .diary input {
        background: #ffebf049;
          border: none;
          outline: none;
      }

      .diary .detail_ta {
          width: 100%;
          height: 25rem;
          color: #000000;
          /* 일기 안의 텍스트 색 설정 */
          background: #a13e5528;
          /* 일기 텍스트 박스의 배경 색 설정 */
          border: none;
          /*테두리선 없애는 설정 */
          outline: none;
          /* 포커스 시 나타나는 외곽선 없애기 */
          text-align: center;
          /* 가운데 정렬을 추가 설정 */
          font-size: 1rem;
          /* 일기 내용 글씨 크기 설정 */
          padding: 0.5rem;
          resize: none;
          /* 일기 내용 칸의 크기 고정 */
          margin-bottom: 0.5rem;
      }

      .bi {
          font-size: 1.5rem;
      }

      .bi-trash {
          margin-left: 0.5rem;
      }

      .bi-download {
          float: right;
          margin-right: 0.5rem;
      }

      :root {
        --first-color: #ffffff;
        --second-color: #ffdabf;
      }
      body {
        margin: 0;
        box-sizing: border-box;
        -ms-overflow-style: none; /* 스크롤바 없애기*/
      }
      ::-webkit-scrollbar {
        /* 스크롤바 없애기*/
        display: none;
      }
      a:visited {
        /* a 태그 갔다왔을 때 색깔 black*/
        color: #ffffff;
      }
      section {
        /* 섹션 구분 margin */
        margin-bottom: 22%;
      }
      .img {
        width: 30%; /* 이미지 기본 크기 */
        margin-top: 7vw; /* title과 간극 */
      }
      
      /* 네비게이션 바 */
      header {
        height: 75px; 
        display: flex; /*한 줄 정렬*/
        padding: 16px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        background-color: #FF0986;
        z-index: 100; /* 레이아웃 중 맨 앞 */
      }
      .logo {
        width: 52%;
      }
      
      .logo:hover {
        cursor: pointer;
      }
      .main_navbar {
        display: flex;
        width: 100%;
      }
      nav {
        align-items: center;
        display: flex;
        flex-direction: row;
      }
      nav a {
        /*nav바 안에 있는 모든 a태그의 밑줄 사라지게 하기*/
        text-decoration: none; /* anchor태그가 가지고 있는 기본 속성 없애기*/
        color: #ffffff;
      }
      /* nav바 hover시 밑줄 애니메이션 구현 */
      nav a:after {
        display: block;
        content: "";
        border-bottom: solid 2px var(--first-color); /* hover일 때 밑줄 생기도록 */
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      nav a:hover:after {
        transform: scaleX(1); /*마우스 오버됐을 때 밑줄이 생김 */
        transform-origin: left;
      }
      
      button:hover {
        cursor: pointer;
      }
      
      .left_bar {
        margin-right: 3%; /* right bar 띄우기 */
        display: flex;
        width: 100%;
        justify-content: flex-end; /* 오른쪽에 붙이기 */
      }
      .right_bar {
        display: flex;
        justify-content: flex-end; /* 오른쪽에 붙이기 */
      }
      .nav-item {
        list-style: none;
        margin: 0 20px;
      }
      .btn_preety {
        /* 사진꾸미러가기 버튼 */
        width: 150px;
        height: 38px;
        font-size: 12px;
        border: none;
        background-color: var(--first-color);
      }
    
      .btn_menu {
        /* 햄버거 메뉴 아이콘 */
        display: none;
        border: none;
        background-color: transparent; /* 배경 투명하게 */
      }
    
      
      section > div {
        /*section 바로 아래있는 div, (타이틀들)*/
        font-size: 25px;
        position: absolute;
        left: 24vw;
      }
      .photo {
        /* 메인화면 섹션들 */
        margin-top: 250px; /* header 간격*/
        text-align: center; /* 글 가운데 정렬*/
      }
      
      /* footer */
      .main-footer {
        display: flex;
        padding-top: 10px;
        border-top: 1px solid black;
        width: 100%;
      }
      .main-footer li {
        display: inline;
      }
      .footerTitle {
        font-size: 20px;
      }
      .developerFooter {
        margin-right: 17px;
      }
      /* footer */
      footer {
        font-size: 12px;
        background: #ffd9d9dd;
      }
      .main-footer {
        justify-content: center;
        position: static;
    
      }
      .bxl-twitter{
        color: white;
      }
    
      @media screen and (max-width: 1000px) {
        .logo {
          width: 26%;
        }
        header {
          height: 68px;
        }
        .main_navbar {
          display: inline;
          position: fixed; /*메뉴바 고정*/
          top: 0;
          right: 0;
          background-color: #ff8cc585; /*메뉴바 배경*/
          transform: translateX(100%);
          transition: all 0.3s ease-out 0s; /*transition(모든 요소, 0,3초 동안, 효과, 딜레이)*/
        }
        .main_navbar.active {
          width: 100%;
          height: 100%;
          opacity: 1;
          transform: translateX(0);
          transition: all 0.3s ease-out 0s;
        }
        .nav_container {
          display: flex;
          flex-direction: column; /* 세로로 정렬*/
          margin: 0 auto; /*가운데 정렬*/
          margin-top: 80px; /*여백 주기*/
        }
        .nav_container li {
          margin: 20px;
        }
        .btn_preety {
          width: 300px;
        }
        .btn_menu {
          display: block; /* 햄버거 메뉴 보이게 */
          position: absolute;
          color: white;
          right: 12px;
          width: 40px;
          height: 40px;
          position: fixed;
        }
      }
