 body {
     width: 100%;
     height: 100%;
 }

 td {
     vertical-align: top;
     /* 날짜를 보여주는 글자를 위로 정렬 */
 }

 .bodycon {
     margin-top: 6rem;
 }

 .Calendar {
     margin-top: 3rem;
     width: 100%;
     /* 달력 가로 길이*/
     height: 34.7rem;
     /* 달력 세로 길이*/
     text-align: center;
     /* 월 나타내는 글자 위치 설정 */
     background: #ffe2ead0;
     /*달력 배경색 */
     border-collapse: collapse;
     border: 0.21rem solid;
     /*달력 테두리 굵기*/
     border-color: #a13e55;
     /* 달력 테두리 색*/

 }

 .Calendar>thead>tr:first-child>td {
     font-family: Inter;
     /* 글꼴 설정 */
     color: #F25278;
     font-size: 1.2rem;
     /* @@년 @@월 @@일 글자 크기 설정 */
     font-weight: bold;
     padding-top: 0.5rem;
     padding-bottom: 1rem;
 }

 .Calendar>thead>tr:last-child>td {
     font-family: Inter;
     /* 글꼴 설정 */
     font-weight: 400;
     /*월 나타내는 글자 크기 굵기 설정*/
     font-size: 1rem;
     /* @요일 글자 크기 설정 */
 }

 .Calendar>tbody>tr>td>p {
     font-family: Inter;
     /* 날짜(숫자) 글자 크기 설정 */
     font-size: 0.9rem;
     height: 45;
     width: 35;
     transition-duration: .20s;
     line-height: 20px;
     /* 달력 안의 둥근 원의 크기 */
     margin: 4px;
     /*달력 글자 박스 간의 여백 설정*/
     display: block;
     position: relative;
     /*달력 안에 날짜 글자 위치*/

 }

 .Calendar>tbody>tr>td>p::after {
     content: '';
     width: 100%;
     height: 1px;
     background-color: #c363b3;
     position: absolute;
     bottom: 0;
     left: 0;
 }

 .pastDay {
     font-family: Inter;
     color: rgb(164, 164, 164);
     /* 지나간 날짜 글씨 색 설정 */
 }

 .today {
     font-family: Inter;
     background-color: #FF7799;
     color: #fff;
     /* 그 당일 날짜의 글씨 색 설정 */
     font-weight: 700;
     /* 그 당일 날짜의 글씨 굵기 설정 */
     cursor: pointer;
 }

 .futureDay {
     font-family: Inter;
     background-color: #fffefe;
 }

 .futureDay:hover {
     background: #fbdddd;
     /* 마우스 올려놨을때 보이는 색 */
 }

 .futureDay.choiceDay,
 .today.choiceDay {
     background: #F25278;
     color: #fff;
 }

 .bxl-twitter,
 .bxl-instagram,
 .bxl-facebook,
 .bxl-github {
     text-align: center;
     margin-bottom: 1rem;
 }

 .heart_box {
     text-align: center;
 }

 .title_info {
     font-size: 15px;
 }

 .img_heart {
     width: 2.1rem;
     height: 2.1rem;
     border: none;
     /* 초기에는 테두리가 없도록 설정 */
     transition: border-color 0.2s ease-in-out;
     /* 테두리 색상 변화에 대한 전환 효과 설정 */
 }

 .img_heart.active {
     border: 2px solid #a13e55cb;
     /* 활성화된 경우의 테두리 스타일 및 색상 설정 */
 }

 .diary {
     margin-top: 3rem;
     margin-bottom: 10rem;
     background: #ffe2ead0;
     padding: 1rem;
     border: 0.21rem solid #a13e55;
 }

 .title_text {
     text-align: center;
     background: #ffe2ead0;
     padding-top: 0.5rem;
 }

 .diary input {
     background: #ffe2ead0;
     border: none;
     outline: none;
 }
 .title_info {
    font-size: 14px;
}

 .diary .detail_ta {
     width: 100%;
     height: 25.3rem;
     font-size: 12px;
     color: #000000;
     /* 일기 안의 텍스트 색 설정 */
     background: #c1526c1c;
     /* 일기 텍스트 박스의 배경 색 설정 */
     border: none;
     /*테두리선 없애는 설정 */
     outline: none;
     /* 포커스 시 나타나는 외곽선 없애기 */
     text-align: center;
     /* 가운데 정렬을 추가 설정 */
     padding: 0.5rem;
     resize: none;
     /* 일기 내용 칸의 크기 고정 */
     margin-bottom: 0.5rem;
 }

 .bi {
     font-size: 1.3rem;
 }

 .bi-trash {
     margin-left: 0.5rem;
 }

 .bi-download {
     float: right;
     margin-right: 0.5rem;
 }

 .date-cell {
     position: relative;
 }

 .date-image {
     max-width: 100px;
     margin-top: 0.5rem;
     height: auto;
     width: 1rem;
     /* 이미지 가로 크기 조절 */
     position: absolute;
     /*전체화면, 반응형 모두 하트가 아래로 가게 해줌 */
     bottom: -10px;
     /* 이미지를 아래로 이동시키는 값 */
     top: 100%;
     /* 이미지를 날짜 아래로 이동시킵니다. */
 }

 @media screen and (max-width: 768px) {
     .bodycon {
         margin-top: 4rem;
     }

     .Calendar>tbody>tr>td>p {
         /* 날짜(숫자) 글자 크기 설정 */
         font-size: 11px;

     }

     .Calendar>thead>tr:first-child>td {
         font-size: 1.1rem;
     }

     .Calendar>thead>tr:last-child>td {
         font-size: 0.8rem;
         /* @요일 글자 크기 설정 */
     }

     .Calendar {
         border: 0.15rem solid #a13e55;
     }

     .diary {
         border: 0.15rem solid #a13e55;
     }

     .bi {
         font-size: 1.2rem;
     }

     .date-image {
         max-width: 100px;
         margin-top: 0.5rem;
         height: auto;
         width: 0.9rem;
     }

     .diary .detail_ta {
         font-size: 12px;

     }

     .title_info {
         font-size: 13px;
     }
 }