.h_box {
  margin-top:  6rem;
  text-align: right;
  width: 100%;
}

.h_img {
  height: 2.7rem;
  width: 2.7rem;
}

.h_count {
  display: inline-block;
  text-align : right;
  padding-top: 2px;
  height: 2.7rem;
  width: 2.7rem;
}

.item_box {
  margin-top: 3rem;
}
.main-footer{
  margin-top:  10rem;
}
.op{
  background-color: #FFE1E9;
  padding: 8.5px;
}